.container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.success-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

input {
  display: block;
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 1rem;
}
button {
  border: none;
  padding: 1rem;
  width: 21.2rem;
  font-size: 1.2em;
  border-radius: 0.2rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
  color: #ffffff;
  background-color: #009879;
}
button:hover {
  background-color: #c5c5c5;
}
.message {
  font-size: 1.2em;
  text-align: center;
  color: #be193d;
}

h2, .label{
  color: #009879
}
